@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #f9fafb; /* light */
  --foreground: #1e293b; /* navy */
  --color-orange: #f97316;
  --color-teal: #14b8a6;
  --color-navy: #1e293b;
  --color-light: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

.bg-orange {
  background-color: var(--color-orange);
}
.text-teal {
  color: var(--color-teal);
}
.text-navy {
  color: var(--color-navy);
}
.bg-glass {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.stroke-text {
  text-shadow: 4px 2px 0px #1e40af; /* sombra azul tipo borde */
}

.font-dynapuff {
  font-family: var(--font-dynapuff);
}

.be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}
